<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony-blog{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8914736381810465"
                crossorigin="anonymous"></script>

    </head>
    <body class="bg-grey is-flex flex-co min-h-screen">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8914736381810465"
            crossorigin="anonymous"></script>
    <!-- Pub -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8914736381810465"
         data-ad-slot="4328440200"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {% block wrapper %}
        {% include 'navbar/navbar.html.twig' %}
        {% include 'notification-translations/message.html.twig' %}
    {% endblock %}
    </body>
    {% block javascripts %}
        {% if is_granted('ROLE_USER') %}
        <script src="{{ asset('build/js/mercure-subscribe.js') }}"></script>
        {% endif %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</html>
